<div class="container mt-8 mb-4 d-none d-md-block">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded-pill px-8 py-4">
        <div class="container-fluid">
            <h1><a class="navbar-brand logo" href="#" style="background-image: url(/assets/images/logo.png);">L'LEARNING
                    | 探索感興趣的課程，今天立即上課</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 me-2 ">
                    <li class="nav-item dropdown position-static">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            探索
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="mb-2"><a class="dropdown-item dropdown-item-all" href="#">探索全部</a></li>
                            <li><a class="dropdown-item" href="#">音樂</a></li>
                            <li><a class="dropdown-item" href="#">攝影</a></li>
                            <li><a class="dropdown-item active" href="#">程式</a></li>
                            <li><a class="dropdown-item" href="#">藝術</a></li>
                            <li><a class="dropdown-item" href="#">人文</a></li>
                            <li><a class="dropdown-item" href="#">攝影</a></li>
                            <li><a class="dropdown-item" href="#">行銷</a></li>
                            <li><a class="dropdown-item" href="#">投資理財</a></li>
                            <li><a class="dropdown-item" href="#">心靈成長</a></li>
                            <li><a class="dropdown-item" href="#">職場技能</a></li>
                            <li><a class="dropdown-item" href="#">生活品味</a></li>
                            <li><a class="dropdown-item" href="#">心靈成長</a></li>
                            <li><a class="dropdown-item" href="#">職場技能</a></li>
                            <li><a class="dropdown-item" href="#">生活品味</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="w-50 position-relative">
                    <input class="form-control ps-9 py-4 rounded-3" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程"
                        aria-label="Search">
                    <a href="#" class="d-block position-absolute top-50 start-0 translate-middle-y ms-5">
                        <span class="material-symbols-outlined align-bottom">
                            search
                        </span></a>
                    <button class="btn btn-primary-100 position-absolute top-50 end-0 translate-middle py-3"
                        type="submit">搜尋</button>
                </form>
                <ul class="d-flex align-items-center navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item position-relative me-6">
                        <a href="#"><span class="icon-unfilled material-symbols-outlined align-bottom">
                                Notifications
                            </span></a>
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-1"><span
                                class="visually-hidden">unread messages</span></span>
                    </li>
                    <li class="nav-item position-relative me-6">
                        <a href="#"><span class="icon-unfilled material-symbols-outlined align-bottom">
                                shopping_cart
                            </span></a><span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">2
                            <span class="visually-hidden">unread messages</span></span>
                    </li>
                    <button class="btn btn-primary-100 py-3 px-4" type="submit">登入 / 註冊</button>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- mobole -->
<div class="container-fluid mb-4 d-block d-md-none px-0">
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <h1><a class="navbar-brand logo" href="#" style="background-image: url(/assets/images/logo.png);">L'LEARNING
                    | 探索感興趣的課程，今天立即上課</a></h1>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body d-flex flex-column">
                    <ul class="navbar-nav flex-grow-1 p-4">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">探索全部</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">音樂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">攝影</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">程式</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">藝術</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">人文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">藝術</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">行銷</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">投資理財</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">心靈成長</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">職場技能</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">生活品味</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary-100 py-3 px-4 w-100" type="submit">登入 / 註冊</button>
                </div>
            </div>
        </div>
    </nav>
</div>