<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>L'LEARNING | 程式課程</title>
  <%- include('./layout/head'); -%>
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- banner -->
    <picture>
      <source media="(min-width: 992px)" srcset="../assets/images/hero-5.png" />
      <img src="../assets/images/hero-sm-5.png" alt="banner" class="w-100" />
    </picture>
    <!-- 介紹 -->
    <div class="container">
      <div class="position-relative d-block d-md-none">
        <img src="../assets/images/Avatar.png" alt="host"
          class="position-absolute top-n80 start-50 translate-middle w-25">
      </div>
      <div class="row flex-column flex-md-row mt-11 mb-md-11 pb-5">
        <div class="col-3 d-none d-md-block">
          <div class="position-relative">
            <img src="../assets/images/Avatar.png" alt="host" class="position-absolute top-0 start-50 translate-middle">
          </div>
        </div>
        <div class="col-md-9">
          <div class="d-flex flex-column align-items-center align-items-md-start">
            <h2 class="mb-6">六角學院</h2>
            <div class="d-flex align-items-center gap-5 mb-6">
              <span class="text-neutral-80"><span class="text-primary-100 fs-6 fw-semibold me-1">4</span>堂課</span><span
                class="text-neutral-60">｜</span>
              <span class="text-neutral-80"><span
                  class="text-primary-100 fs-6 fw-semibold me-1">8463</span>收藏數</span><span
                class="text-neutral-60">｜</span>
              <span class="text-neutral-80"><span class="text-primary-100 fs-6 fw-semibold me-1">20,218</span>個學生</span>
            </div>
            <div class="text-neutral-80 mb-6">
              <p>六角學院 是一所線上程式開發學習單位，目前已累積 20,000 名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。</p>
              <p>我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運 Know how。</p>
            </div>
            <ul class="d-flex align-items-end align-items-md-center gap-4 my-8 my-md-0">
              <li><a href="#"><img src="../assets/images/icons/btn_line_dark.png" alt="line"></a></li>
              <li><a href="#"><img src="../assets/images/icons/btn_yt_dark.png" alt="yt"></a></li>
              <li><a href="#"><img src="../assets/images/icons/btn_fb_dark.png" alt="fb"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 課程列表 -->
    <!-- card大小不一，一直調不好T_T -->
    <div class="container pb-md-11 mb-12">
      <div class="d-flex mb-6">
        <img src="../assets/images/deco/flower-5.png" alt="decorate" style="width: 24px; height: 24px;">
        <h3 class="fs-5 fw-semibold text-neutral-100 ms-2">六角學院開的課</h3>
      </div>
      <div class="swiper perSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card position-relative">
              <span
                class="position-absolute start-0 top-0 text-alert-100 bg-alert-10 fs-7 fw-semibold rounded-pill py-2 px-3 m-4">限時
                8 折 🔥</span>
              <img src="../assets/images/course-4.png" class="card-img-top" alt="創意寫作工坊">
              <div class="card-body">
                <h3 class="card-title fs-6 text-start mb-4">創意寫作工坊：從靈感到出版的全過程</h3>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/avatar-2.png" alt="avatar" style="width: 32px; height: 32px;">
                    <p class="card-text ms-2">Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-primary-100 fs-6 fw-semibold">NT$ 2,480</p>
                    <p class="text-decoration-line-through text-neutral-60">NT$ 3,200</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between p-4">
                <div class="text-start">
                  <span class="text-neutral-80 bg-neutral-40 rounded-pill py-1 p-3">中文創作</span>
                  <p class="text-neutral-80 fs-7 mt-2">已有 420 位同學加入</p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined text-warning">
                    star
                  </span>
                  <p class="text-neutral-100 fs-7 fw-medium">4.0</p>
                  <p class="text-neutral-60 fs-7 fw-medium">(333)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card position-relative">
              <span
                class="position-absolute start-0 top-0 text-alert-100 bg-alert-10 fs-7 fw-semibold rounded-pill py-2 px-3 m-4">限時
                8 折 🔥</span>
              <img src="../assets/images/course-5.png" class="card-img-top" alt="程式設計">
              <div class="card-body">
                <h3 class="card-title fs-6 text-start mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/avatar-2.png" alt="avatar" style="width: 32px; height: 32px;">
                    <p class="card-text ms-2">Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-primary-100 fs-6 fw-semibold">NT$ 2,480</p>
                    <p class="text-decoration-line-through text-neutral-60">NT$ 3,200</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between p-4">
                <div class="text-start">
                  <span class="text-neutral-80 bg-neutral-40 rounded-pill py-1 p-3">程式開發</span>
                  <p class="text-neutral-80 fs-7 mt-2">已有 420 位同學加入</p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined text-warning">
                    star
                  </span>
                  <p class="text-neutral-100 fs-7 fw-medium">4.0</p>
                  <p class="text-neutral-60 fs-7 fw-medium">(333)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card position-relative">
              <span
                class="position-absolute start-0 top-0 text-alert-100 bg-alert-10 fs-7 fw-semibold rounded-pill py-2 px-3 m-4">限時
                8 折 🔥</span>
              <img src="../assets/images/course-6.png" class="card-img-top" alt="JavaScript 開發">
              <div class="card-body">
                <h3 class="card-title fs-6 text-start mb-4">全面掌握 JavaScript 開發技術</h3>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/avatar-2.png" alt="avatar" style="width: 32px; height: 32px;">
                    <p class="card-text ms-2">Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-primary-100 fs-6 fw-semibold">NT$ 2,480</p>
                    <p class="text-decoration-line-through text-neutral-60">NT$ 3,200</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between p-4">
                <div class="text-start">
                  <span class="text-neutral-80 bg-neutral-40 rounded-pill py-1 p-3">程式開發</span>
                  <p class="text-neutral-80 fs-7 mt-2">已有 420 位同學加入</p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined text-warning">
                    star
                  </span>
                  <p class="text-neutral-100 fs-7 fw-medium">4.0</p>
                  <p class="text-neutral-60 fs-7 fw-medium">(333)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card position-relative">
              <img src="../assets/images/course-7.png" class="card-img-top" alt="網頁設計">
              <div class="card-body">
                <h3 class="card-title fs-6 text-start mb-4">HTML & CSS 網頁設計基礎教程</h3>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/avatar-2.png" alt="avatar" style="width: 32px; height: 32px;">
                    <p class="card-text ms-2">Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-primary-100 fs-6 fw-semibold">NT$ 2,480</p>
                    <p class="text-decoration-line-through text-neutral-60">NT$ 3,200</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between p-4">
                <div class="text-start">
                  <span class="text-neutral-80 bg-neutral-40 rounded-pill py-1 p-3">程式開發</span>
                  <p class="text-neutral-80 fs-7 mt-2">已有 420 位同學加入</p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined text-warning">
                    star
                  </span>
                  <p class="text-neutral-100 fs-7 fw-medium">4.0</p>
                  <p class="text-neutral-60 fs-7 fw-medium">(333)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card position-relative">

              <img src="../assets/images/course-8.png" class="card-img-top" alt="後端開發">
              <div class="card-body">
                <h3 class="card-title fs-6 text-start mb-4">更進一步！深入學習 Node.js 與後端開發</h3>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/avatar-2.png" alt="avatar" style="width: 32px; height: 32px;">
                    <p class="card-text ms-2">Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-primary-100 fs-6 fw-semibold">NT$ 2,480</p>
                    <p class="text-decoration-line-through text-neutral-60">NT$ 3,200</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between p-4">
                <div class="text-start">
                  <span class="text-neutral-80 bg-neutral-40 rounded-pill py-1 p-3">程式開發</span>
                  <p class="text-neutral-80 fs-7 mt-2">已有 420 位同學加入</p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined text-warning">
                    star
                  </span>
                  <p class="text-neutral-100 fs-7 fw-medium">4.0</p>
                  <p class="text-neutral-60 fs-7 fw-medium">(333)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>